<div class = "row">
  <div class = "col-l12">
    <h2 class="col-lg-4 col-lg-offset-5"> About Me </h2>
  </div> {{!-- End col-l12 --}}
</div> {{!-- End Row --}}

<div class ="row">
  <article class="col-l12">
    <img id="profile-picture" class = "img-circle" src="images/chaz.jpg" alt="Chaz">
    <div class = "about-text">
      <p >Hi. My name is Chaz Henricks and I am currently a budding software developer.</p>
      <p> I live in Nashville, TN and am studying at the Nashville Software School where I am learning front end web programming languages as well as C# and .NET technologies. </p>
      <p> I love coffee, Ryan Adams, and stand up comedy. Lets hang out</p>
    </div>
  </article> <!-- End About Content -->
</div> <!-- End Content Row -->

