
<div class="row">

{{!-- BLOG POST --}}
    <div class="col-m9">
        <h3>{{this.title}}</h3>
        <p>Written By: {{this.author}} on {{this.date}}
        <div class="divider"></div>
        <p>{{this.copy}}</p>
        <div class="divider"></div>
    </div> {{!-- End col-md9 --}}

{{!-- END BLOG POST --}}

</div> {{!-- End Row --}}





