  <header id="header-div">
    <nav>
      <div class="nav-wrapper grey darken-1">
        <a href="#" class="brand-logo">Chaz Henricks</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#" id="blogs-btn">Blog</a></li>
            <li><a href="#" id="about-btn">About</a></li>
            <li><a href="#" id= "portfolio-btn">Portfolio</a></li>
          </ul>
       </div>
    </nav>
  </header> <!-- End Nav Bar -->
