<div class="row">

{{!-- BLOG POST --}}

    <input class="col-m3" id="new-blog-title" type="text" placeholder="Title">
    <input class="col-m3" id="new-blog-author" type="text" placeholder="Author">
    <div class="divider"></div>
    <textarea id="new-blog-post" class="new-blog-post"></textarea>
    <div class="divider"></div>
    <p class="" id="new-blog-date">{{today}}</p>
    <button type="button" id="new-blog-post-btn">Post</button>


{{!-- END BLOG POST --}}

</div> {{!-- End Row --}}
