<article class="placeholder-message">
      <p class="portfolio-text">Hi. Once I get more projects under my belt this is where I will display them. In the meantime, feel free to visit my GitHub page linked down at the bottom.</p>
</article>
